{% extends './base.html' %}
{% block content%}
   <div class="container main">
       <div class="row" style="padding:10px;">
           <div class="col-md-8" style="padding-bottom:10px;">
               {% for post in posts%}
               <div style="font-family: 'Skranji', cursive;">
                    <div class="card" style="background-color: black; border-color: white; border-width: 1px;">
<!--  -->                      <p style="color: white; margin-bottom: 0">@{{request.user.username}}</p>
                        <img src="{{post.image.url}}" class="img-fluid posty card-img-top" style=" margin-bottom: 0; padding-bottom: 0">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white">{{post.image_name}}</h5>
                            <p class="card-text" style="color: white">{{post.image_caption}}</p>
                            <p class="card-text" style="color: white"><small class="text-muted">Posted {{post.post_date|timesince}} ago.</small></p>
                            <a href="#" class="btn btn-primary">Comment</a>
                        </div>
                    </div>
                    <br>
                </div>
               {% endfor%}
           </div>
       </div>
   </div>
{% endblock%}